*{
    padding: 1;
    margin: 0;
}

/* .container{
    background-color: red;
    padding: 10px;
} */

.container{
    background-color: transparent;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    font-size: 30px;
    
}
  
.topics{
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(185, 229, 228);
    margin-bottom: 10px;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}

.subjects a{
    padding: 1.2rem;
    cursor: pointer;
    place-items: center;
    border: red;
    font-size: 23px;
    text-indent: 1rem;
}

/* a{
    padding: 10px;
    background-color: black;
    display: block;
} */
